<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.generator.generatorVariantov" android:installLocation="auto" android:versionName="4" android:versionCode="4">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />
	<application android:label="Генератор вариантов" android:icon="@drawable/Icon"></application>
</manifest>